body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 150px;color:green;
    text-align: center;
    }

.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight: bold;
}

.rain{
    height: 400px;
    width:400px;
    border-radius:25%;
}
h1{font-size:40px;
font-weight:bold;}
p{font-size:25px;
font-weight:bold;}

